@font-face {
  font-family: 'Urbanist';src: url('/fonts/Urbanist-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Urbanist';src: url('/fonts/Urbanist-Bold.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Urbanist';src: url('/fonts/Urbanist-Light.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'Urbanist';src: url('/fonts/Urbanist-Black.ttf') format('truetype');
  font-weight: 800;
}
