.web-footer {
  background: rgba($cff, .05);

  main {
    display: flex;justify-content: space-between;align-items: center;
  }

  &-copy {
    color: rgba($cff, .8);
  }
  &-lang {
    position: relative;
    span {
      display: flex;align-items: center;cursor: pointer;text-decoration: underline;
      &:before {
        content: '';display: block;
        background: url($res + 'website/icon/lang.svg') center/contain no-repeat;
      }
    }
    ul {
      position: absolute;right: 0;overflow: hidden;max-height: 0;z-index: 2;
      background: rgba($cff, .1);
      @include dz();
      li {
        a {
          white-space: nowrap;
          display: flex;align-items: center;

          &:hover {
            background: rgba($cff, .2);
          }
        }
      }
    }
  }
}

.web-mode {
  .web-footer {
    @extend .web_;

    main {
      @extend .web;height: 100px;
    }

    &-copy {
      font-size: 20px;
    }

    &-lang {
      position: relative;
      span {
        height: 60px;font-size: 20px;
        &:before {
          width: 26px;height: 26px;margin-right: 12px;
        }
      }
      ul {
        bottom: 60px;border-radius: 12px;font-size: 18px;
        li {
          a {
            padding: 12px 24px;min-width: 120px;line-height: 20px;
          }
          &:first-child a {
            padding-top: 24px;
          }
          &:last-child a {
            padding-bottom: 24px;
          }
        }
      }

      &:hover, &.show {
        ul {
          max-height: 150px;
        }
      }
    }
  }
}

.mobile-mode {
  .web-footer {
    main {
      height: rem(64);font-size: rem(12);
    }

    &-lang {
      position: relative;
      span {
        height: rem(40);
        &:before {
          width: rem(12);height: rem(12);margin-right: rem(6);
        }
      }
      ul {
        bottom: rem(40);border-radius: rem(6);
        li {
          a {
            padding: rem(6) rem(12);min-width: rem(60);line-height: rem(20);
          }
          &:first-child a {
            padding-top: rem(12);
          }
          &:last-child a {
            padding-bottom: rem(12);
          }
        }
      }

      &:hover, &.show {
        ul {
          max-height: rem(100);
        }
      }
    }
  }
}
