.web-header {
  position: fixed;top: 0;left: 0;right: 0;z-index: 10;
  display: flex;justify-content: space-between;align-items: center;
  @include dz();
  .web-logo {
    background: url($res + 'website/logo.png') center left/contain no-repeat;
  }

  &-nav > ul {
    & > li {
      & > span {
        display: flex;align-items: center;
        &:after {
          content: '';display: block;
          background: url($res + 'website/icon/arrow-up.svg') center/contain no-repeat;
          @include dz();
        }
      }
      & > ul {
        @include dz();overflow: hidden;max-height: 0;
      }
    }
  }

  &-bg {
    position: fixed;top: 0;left: 0;right: 0;z-index: 9;
    @include mh(40px);
  }
}

.web-mode {
  .web-header {
    height: 80px;padding: 0 40px;
    @extend .web_;

    &-top {
      height: 100px;
    }

    .web-logo {
      height: 80px;width: 300px;
    }

    &-nav > ul {
      display: flex;align-items: center;
      font-size: 20px;
      & > li {
        height: 48px;position: relative;margin: 0 40px;
        display: flex;align-items: center;justify-content: center;
        & > span, & > a {
          cursor: pointer;
          @include dz();
          opacity: .8;

        }
        & > span {
          &:after {
            width: 8px;height: 8px;margin-left: 8px;
            @include dz();
          }
        }
        &:hover {
          & > span, & > a {
            opacity: 1;
          }
          ul {
            max-height: 350px
          }
          & > span:after {
            @include xz(180);
          }
        }
        ul {
          position: absolute;left: -24px;top: 48px;
          background: rgba($c11, .6);border-radius: 12px;
          @include mh(40px);

          li {
            height: 48px;padding-left: 24px;padding-right: 48px;
            display: flex;align-items: center;opacity: .5;cursor: pointer;
            @include dz();
            background: transparent;
            img {
              display: block;width: 20px;margin-right: 10px;
            }
            &:first-child, &:last-child {
              height: 60px;
            }
            &:first-child {
              padding-top: 12px;
            }
            &:last-child {
              padding-bottom: 12px;
            }
            &:hover {
              opacity: 1;background: rgba($c11, .6);
            }
          }
        }
      }
    }

    &-blank {
      height: 100px;
    }
    &-bg {
      height: 80px;
    }
  }
}

.mobile-mode {
  .web-header {
    height: rem(54);padding: 0 rem(24) 0 rem(20);

    &-top {
      height: rem(64);
    }

    .web-logo {
      height: rem(54);width: rem(156);
    }
    &-nav {
      position: fixed;width: rem(224);top: 0;right: rem(-240);bottom: 0;
      padding: rem(12) rem(30);overflow-y: auto;opacity: 0;z-index: 12;
      @include mh(40px);
      @include dz();

      &.open {
        right: 0;opacity: 1;
      }

      &-menu {
        width: rem(28); height: rem(28);
        background: url($res + 'website/icon/dot.svg') center/contain no-repeat;
        @include xz(90);

        &.close {
          @include xz(0);
        }
      }

      &-bg {
        position: fixed;top: 0;right: 0;bottom: 0;z-index: 11;
        width: 0px;
        &.open {
          width: rem(400);
          background: rgba($c00, .5);
          @include mh(3px);
        }
      }

      & > ul > li {
        & > span, & > a {
          display: flex;align-items: center;height: rem(48);font-size: rem(20);
        }
        & > span {
          justify-content: space-between;
          &:after {
            width: rem(8);height: rem(8);
          }
        }
        & > ul {
          &:before {
            content: '';display: block;height: 1px;background: rgba($cff, .5);
          }
          li {
            display: flex;align-items: center;padding: 0 rem(16);
            height: rem(48);font-size: rem(20);
            img {
              display: block;width: rem(20);height: rem(20);margin-right: rem(10);
            }
            &:first-child {
              padding-top: rem(16);
            }
          }
        }
        &.active {
          & > span:after {
            @include xz(180);
          }
          ul {
            max-height: rem(240);
          }
        }
      }

      button {
        margin-top: rem(30);
      }
    }
    &-blank {
      height: rem(64);
    }
    &-bg {
      height: rem(54);
    }
  }
}
