.web-mode {
  .web-home-dexaas {
    @extend .web_;height: 1120px;
    background: url($res + 'website/man.jpg')  no-repeat;
    background-position: right 10% top;
    main {
      @extend .web;
    }

    h2 {
      font-size: 100px;line-height: 1.2;font-weight: 800;width: 900px;opacity: 0;
    }

    p {
      margin: 72px 0;width: 620px;font-size: 28px;line-height: 1.4;opacity: 0;
    }

    aside {
      opacity: 0;
      button {
        margin-right: 48px;
      }
    }

    &-logos {
      @extend .web_;padding-bottom: 200px;
      img {
        @include dz();opacity: .2;cursor: pointer;
        display: block;width: 390px;height: 230px;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .web-mode .web-home-dexaas {
    background-position: right -10% top;
  }
}

.mobile-mode {
  .web-home-dexaas {
    // height: 1120px;
    // background: url($res + 'website/man.jpg')  no-repeat;
    // background-position: right 10% top;
    // main {
    //   @extend .web;
    // }

    h2 {
      font-size: rem(36);line-height: 1.2;font-weight: 800;
      height: rem(346);text-align: center;padding-top: rem(230);
      background: url($res + 'website/man.jpg') center/contain no-repeat;
    }

    p {
      font-size: rem(14);line-height: 1.4;padding: rem(30);
    }

    aside {
      padding: 0 rem(30);
      button {
        margin-bottom: rem(30);
      }
    }

    &-logos {
      margin-bottom: rem(30);
      img {
        @include dz();opacity: .4;cursor: pointer;
        display: block;width: rem(120);height: auto;
      }
    }
  }
}
