.web-home-features {
  background: url($res + 'website/ribbon.png') center top no-repeat;

  h2 {
    font-weight: 800;text-align: center;line-height: 1.2;
  }

  ul {
    position: relative;

    li {
      @include mh(40px);overflow: hidden;
      background: rgba($c11, .6);
      display: flex;align-items: center;

      &:before, &:after {
        content: '';display: block;
        background: center/contain no-repeat;
      }

      main {
        h4 {
          line-height: 1.2;font-weight: 800;text-transform: uppercase;
        }
        p {
          line-height: 1.5;
        }
        a {
          display: block;
          position: relative;border: 1px solid $cff;
          background: transparent;text-indent: -9999px;
          @include dz();

          &:before, &:after {
            display: block;content: '';position: absolute;left: 50%;top: 50%;
            @include dz();
          }

          &:before {
            background: $cff;
            @include yd(-50%, -50%);
          }

          &:after {
            border-color: $cff $cff transparent transparent;
            @include xz(45);
          }

          &:hover {
            background: $cff;
            &:before {
              background: $c00;
            }
            &:after {
              border-color: $c00 $c00 transparent transparent;
            }
          }
        }
      }


      &:nth-child(1) {
        &:before {
          background-image: url($res + 'website/features/1.svg');
        }
        &:hover:before, &:after {
          background-image: url($res + 'website/features/1-active.svg');
        }
      }

      &:nth-child(2) {
        &:before {
          background-image: url($res + 'website/features/2.svg');
        }
        &:hover:before, &:after {
          background-image: url($res + 'website/features/2-active.svg');
        }
      }

      &:nth-child(3) {
        &:before {
          background-image: url($res + 'website/features/3.svg');
        }
        &:hover:before, &:after {
          background-image: url($res + 'website/features/3-active.svg');
        }
      }

      &:nth-child(4) {
        &:before {
          background-image: url($res + 'website/features/4.svg');
        }
        &:hover:before, &:after {
          background-image: url($res + 'website/features/4-active.svg');
        }
      }

      &:nth-child(5) {
        &:before {
          background-image: url($res + 'website/features/5.svg');
        }
        &:hover:before, &:after {
          background-image: url($res + 'website/features/5-active.svg');
        }
      }

      &:nth-child(6) {
        &:before {
          background-image: url($res + 'website/features/6.svg');
        }
        &:hover:before, &:after {
          background-image: url($res + 'website/features/6-active.svg');
        }
      }
    }
  }
}

.web-mode {
  .web-home-features {
    @extend .web_;
    background-size: 100% 100%;
    &-inner {
      @extend .web;
    }

    h2 {
      font-size: 100px;margin-bottom: 165px;
    }

    ul {
      height: 2200px;

      &:after {
        content: ''; display: block;width: 357px;height: 85px;
        background: rgba($cff, .6);border-radius: 42.5px;
        position: absolute;
        left: 540px;top: 992px;
        @include mh(5px);
      }

      li {
        width: 900px;height: 436px;border-radius: 64px;
        padding: 80px;
        position: absolute;opacity: 0;


        &:before {
          width: 270px;height: 270px;margin-right: 54px;
        }

        main {
          h4 {
            font-size: 40px;
          }
          p {
            font-size: 24px;padding: 36px 0;
          }
          a {
            width: 170px;height: 60px;border-radius: 30px;

            &:before {
              height: 3px;width: 40px;
            }

            &:after {
              width: 9px;height: 9px;
              border-width: 3px;border-style: solid;
              margin-top: -7.5px;margin-left: 4px;
            }

          }
        }

        &:nth-child(3), &:nth-child(4) {
          width: 480px;height: 828px;flex-flow: column;text-align: center;
          &:before {
            margin-right: 0;margin-bottom: 60px;
          }
          a {
            margin: 0 auto;
          }
        }

        &:nth-child(1) {
          top: 0;left: 0;
        }

        &:nth-child(2) {
          top: 496px;left: 0;
        }

        &:nth-child(3) {
          top: 250px;right: 0;
        }

        &:nth-child(4) {
          top: 992px;left: 0;
        }

        &:nth-child(5) {
          top: 250px + 828px + 60px;right: 0;
        }

        &:nth-child(6) {
          top: 250px + 828px + 120px + 436px;right: 0;
        }
      }
    }
  }
}

.mobile-mode {
  .web-home-features {
    background-size: 100% 100%;
    h2 {
      font-size: rem(36);margin-bottom: rem(32);
    }
    ul {
      li {
        width: rem(351); height: rem(150);margin: 0 auto rem(12);
        border-radius: rem(22);padding: rem(16);
        justify-content: space-between;
        &:before {
          width: rem(110);height: rem(110);
        }
        &:after {
          display: none;
        }
        main {
          width: rem(189);

          h4 {
            font-size: rem(16);line-height: 1.2;
          }

          p {
            font-size: rem(10);line-height: 1.3;margin: rem(8) 0 rem(12);
          }

          a {
            width: rem(68);height: rem(24);border-radius: rem(12);

            &:before {
              height: rem(2);width: rem(16);
            }

            &:after {
              width: rem(5);height: rem(5);
              border-width: rem(2);border-style: solid;
              margin-top: rem(-4.5);margin-left: 0;
            }
          }
        }

        &:nth-child(3), &:nth-child(4) {
          width: rem(170);height: rem(316);padding: rem(24) rem(16);
          flex-flow: column;justify-content: flex-start;margin-left: rem(12);
          main {
            width: rem(145);text-align: center;margin-top: rem(24);
            p {
              margin: rem(16) 0 rem(24);
            }
            a {
              margin: 0 auto;
            }
          }
        }
        &:nth-child(4) {
          position: absolute;right: rem(12); top: rem(323);
        }
      }
    }
  }
}
