.web-mode {
  .web-home-partners {
    @extend .web;margin-bottom: 200px;
    h2 {
      font-size: 100px;line-height: 1.2;font-weight: 800;
      text-align: center;height: 220px;
    }
    ul {
      display: grid;grid-template-columns: repeat(5,1fr);
      li {
        position: relative;cursor: pointer;opacity: 0;
        &, img {
          width: 288px;height: 288px;
          @include dz();
        }
        img {
          display: block;position: absolute;top: 0;left: 0;
          &:first-child {
            z-index: 1;opacity: .8;
          }
          &:last-child {
            z-index: 0;opacity: 0;
          }
        }
        &:hover {
          img {
            &:first-child {
              opacity: 0;
            }
            &:last-child {
              opacity: 1;
            }
          }
        }
        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            animation-delay: $i * .1s;
          }
        }
      }
    }
  }
}
