.web-home-roadmap {
  position: relative;

  &:before, &:after {
    content: '';display: block;position: absolute;left: 0;right: 0;
    @include jb($web-bg, transparent);z-index: 2;
  }

  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
    @include xz(180);
  }

  main {
    overflow-y: scroll;
  }

  hr {
    position: absolute;display: block;width: 1px;border: none;background: $cff;top: 0;bottom: 0;
  }

  &-header {
    line-height: 1.2;
    display: flex;justify-content: center;

    h2 {
      font-weight: 800;
    }
  }

  &-item {
    background: $c11;

    h3 {
      position: sticky;
      line-height: 1.2;
      small {
        display: block;
      }
    }
    ul {
      li {
        list-style: disc;line-height: 1.8;
      }
    }
  }
}

.web-mode {
  .web-home-roadmap {
    @extend .web_;margin-bottom: 200px;
    &:before, &:after {
      height: 100px;
    }
    main {
      @extend .web;height: 950px;padding: 0 20px 0 600px;
    }

    hr {
      left: 50%;margin-left: -200px;
    }

    &-header {
      @extend .web;height: 220px;

      h2 {
        font-size: 100px;
      }
    }

    &-item {
      padding: 48px;position: relative;
      box-shadow: 0px 4px 20px rgba($c00, 0.8);border-radius: 24px;
      margin: 40px 0;
      opacity: .4;
      @include dz();
      &:hover {
        opacity: 1;
      }
      &:first-of-type {
        margin-top: 100px;
      }
      &:last-child {
        margin-bottom: 100px;
      }

      h3 {
        top: 20%;margin-left: -600px;width: 400px;
        text-align: right;height: 120px;font-size: 48px;
        small {
          font-size: 36px;
        }
      }
      ul {
        margin-top: -120px;
        li {
          margin-left: 40px;font-size: 32px;
        }
      }
    }
  }
}

.mobile-mode {
  .web-home-roadmap {
    margin-bottom: rem(64);
    &:before, &:after {
      height: rem(50);
    }
    main {
      height: rem(360);padding: 0 rem(12) 0 rem(54);
    }

    hr {
      left: rem(32);
    }

    &-header {
      height: rem(64);margin-top: rem(72);

      h2 {
        font-size: rem(32);
      }
    }

    &-item {
      padding: rem(16);position: relative;
      box-shadow: 0 rem(2) rem(6) rgba($c00, 0.8);border-radius: rem(8);
      margin: rem(80) 0;

      &:first-of-type {
        // margin-top: rem(80);
      }
      &:last-child {
        margin-bottom: rem(40);
      }

      h3 {
        top: rem(-54);font-size: rem(16);
        position: absolute;
        small {
          font-size: rem(16);
        }
      }
      ul {
        li {
          margin-left: rem(20);font-size: rem(12);
        }
      }
    }
  }
}
